
  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container ">
          <div class="row">  
          <div class="col">
            <div class="row text-white">
                <div class=" form p-4">
                    <h1 class="display-4 py-2 text-truncate">ADD BUYING
                    </h1>
                    <h4 class="display-8 py-1 text-truncate">AND
                    </h4>
                    <h1 class="display-7 py-1 text-truncate">CHECK STATUS
                    </h1>
                    <div class="px-2">
                        <form class="justify-content-center" [formGroup]="myForm" (ngSubmit)="add_userdetail(myForm)">
                            <div class="form-group">
                              
                              <input type="text" class="form-control col-sm-2" placeholder="Stock name" formControlName="stock" name="stock">
                          </div>
                          <p></p>
                            <div class="form-group">
        
                              <input type="number" class="form-control col-sm-2" placeholder="Quantity" name="qty" formControlName="qty" >
                          </div>
                          <div>
                            <button type="submit" class="btn btn-success btn-lg mt-3 mx-3" [disabled]="myForm.invalid">BUY</button>
                            
                            <button type="button" (click)="show_price(myForm)" [disabled]="myForm.get('stock')?.invalid" id="btnsubmit" class="btn btn-primary btn-lg mt-3 ml-3 mx-3" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">CHECK PRICE</button>
                            <button type="button" (click)="status()" class="btn btn-dark btn-lg mt-3 mx-3">STATUS</button>
                            <p></p>
                            <div style="min-height: 120px;">
                              <div class="collapse collapse-horizontal" id="collapseWidthExample">
                                <ul class="list-group">
                                  <li class="list-group-item list-group-item-warning">Stock price: {{price}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          </form>
                        
                    </div>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="row text-white">
              <div class=" form p-4">
                  <h1 class="display-4 py-2 text-truncate">STATUS
                  </h1>
                  <ul class="list-group" id="stocklist">
                  </ul>
                  <p></p>
                  <div id="overall"></div> 
              </div>
          </div>
        </div>
          </div>
        </div>
          </div>
</section>
    

